:root {
  --light-grey: rgb(238, 238, 238);
  --dark-black: hsl(180, 9%, 9%);
}
main.container {
  margin-top: 20vh;
  display: flex;
  width: 100%;
  bottom: 10vh;
}
.sidebar {
  margin-top: 2vh;
  height: 100vh;
  padding-bottom: 12vh;
  border-left: 2px solid var(--primary-color);

  border-right: 2px solid var(--primary-color);
}
.hero-image {
  animation: updown 4s ease-in-out infinite;
}
@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.card:hover .img {
  box-shadow: none;
  transition: all 0.1s linear;
  background-color: var(--primary-color);
  transform: scale(0.9);
  object-fit: contain;
}

.section-category .img {
  transition: all 0.1s linear;
  background-color: var(--dark-color-7);
  object-fit: contain;
}
.hero-section-button {
  padding: 0.8rem 1rem;
}
li a.btn {
  font-size: 0.9rem;
  padding: 0.4rem 0.6rem;
}
.browse-more-btn {
  padding: 0.4rem 0.6rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
form.form {
  background-color: var(--light-grey);
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  filter: invert(1);
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.3;
  pointer-events: all;
}

main {
  height: 100vh;
}
.sidebar {
  flex: 3;
  margin: 2rem;
  margin-top: 0;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-y: scroll;
}
section.products {
  flex: 12;
  /* padding: 1rem;
  padding-top: 0;
  overflow: hidden;
  overflow-y: scroll; */
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  padding-left: 2%;
  padding-bottom: 20vh;
}
.show {
  display: block !important;
}

@media (max-width: 800px) {
  .sidebar {
    z-index: 999;
    display: none;
    background-color: var(--dark-color-1);
    backdrop-filter: var(--blur-5);
    position: absolute;
    top: 10vh;
    width: 100%;
    left: 0;
  }
  button.menu {
    display: block;
  }
}

.sidebar-title {
  padding: 0.5rem 1rem;
  border-bottom: 2px solid var(--primary-color);
}
.silder-container {
  width: 10% !important;
}
.card-dark {
  overflow: hidden;
  background-color: var(--dark-black);
}
hr {
  background-color: var(--light-color-1);
}
.card-horizontal {
  max-height: 35vh;
}
.card-horizontal .card-header img {
  height: 100%;
  padding: 1rem;
  /* width: 100%; */
  object-fit: contain;
}
.card-horizontal .card-bottom {
  max-width: max-content;

  flex: auto;
}
.card-horizontal .card-header {
  height: fit-content;
  max-width: max-content;

  flex: 2;
}
@media only screen and (max-width: 600px) {
  .card-horizontal {
    max-width: max-content;
    max-height: max-content;
  }
  .card-header img {
    width: 100%;
    height: 15rem;
  }
  .card-horizontal .card-header {
    max-width: 100%;
    height: min-content;
  }

  .card-horizontal .card-bottom {
    max-width: max-content;

    height: min-content;
  }
}
.cart-section {
  justify-content: center;
  overflow: hidden;
}

.cart-products {
  overflow: hidden;
  overflow-y: scroll;
  width: 35rem;
}

.cart-price-details {
  background-color: var(--dark-black);
  width: max-content;
}
